@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Great+Vibes&family=Montserrat:wght@300&display=swap');

body {
  background-color: #1e1e1e;
  margin: 0;
  font-family: 'Montserrat', sans-serif,
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#navbar {
  width: 90%;
  top: 0;
  left: 5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#navbar a {
  text-decoration: none;
  color: white;
  font-family: 'Cookie', cursive;
  font-size: 30px;
}

#editor {
  color: white;
}

#editor a {
  font-family: 'Montserrat';
  text-decoration: underline;
  font-size: 15px;
}

#right {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

#right #location {
  width: 40%;
  height: 35px;
  margin-top: 50px;
  margin-left: 30%;
  border-radius: .5rem;
  border: 1px solid black;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
}

.icon {
  color: #ffcd00;
  font-size: 20px;
}

a .icon {
  font-size: 30px;
  transform: rotate(40deg) translateY(-10%) translateX(-40%);
  position: absolute;

}

#home {
  width: 100%;
  height: 100vh;
  display: block;
  justify-content: space-between;
  align-items: center;
  background-image: url('./bg.png') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

#lost {
  padding: 10px;
  text-align: center;
  font-size: 25px;
}

#lost p {
  font-size: 15px;
}

#welcome {
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.unloaded {
  opacity: 1;
  transform: translateY(0);
}

.load {
  opacity: 0;
  transform: translateY(-20px);
}

#top.loaded, #bottom.loaded, #lost.loaded {
  opacity: 1;
  transform: translateY(0);
}

#context {
  display: block;
  margin: auto;
  padding-top: 50px;
  width: 50%;
  color: white;
}

#location {
  border: 1px solid white;
  padding: 5px;
  border-radius: .5rem;
  width: 50%;
  margin: auto;
}

#location input {
  width: 50%;
  border: none;
  color: white;
  background-color: transparent;
}

#location input:focus {
  outline: none;
}

#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 30%;
  width: 50vw;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(-20px);
}

#top .right {
  transform: rotate(270deg);
}

#bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.4);
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: .5rem;
  position: absolute;
  bottom: 10%;
  width: 50vw;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(-20px);
}

@media (max-width: 900px) {
  #location {
    width: 85vw;
  }

  #context, #top{
    width: 90vw;
  }

  #bottom {
    width: 80vw;
    padding-top: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}